#I2C
CONFIG_I2C_QCOM_GENI=y

#I2C DMA
CONFIG_QCOM_GPI_DMA=y

#I2C SENSORS
CONFIG_SENSORS_INA2XX=y
CONFIG_RPR0521=y

#MODEM
CONFIG_USB_NET_QMI_WWAN=m
CONFIG_USB_WDM=m

#SOUND
CONFIG_SND_SOC_MAX98088=m

#UFS
CONFIG_SCSI_UFS_QCOM=y

#QCOM PHYS
CONFIG_PHY_QCOM_QMP=y
CONFIG_PHY_QCOM_QMP_UFS=y

#GRAPHICS
CONFIG_DRM=y
CONFIG_DRM_MSM=y
CONFIG_DRM_PANEL_SAMSUNG_EA8074=y
CONFIG_QCOM_LLCC=y
CONFIG_QCOM_OCMEM=y

#breaks
CONFIG_QCOM_ICC_BWMON=n
