#I2C
CONFIG_I2C_QCOM_GENI=y

#I2C DMA
CONFIG_QCOM_GPI_DMA=y

#I2C SENSORS
CONFIG_SENSORS_INA2XX=y
CONFIG_RPR0521=y

#MODEM
CONFIG_USB_SERIAL=y
CONFIG_USB_USBNET=y
CONFIG_USB_NET_QMI_WWAN=y
CONFIG_USB_SERIAL_OPTION=y
CONFIG_USB_WDM=y

#NVME
CONFIG_NVME_CORE=y
CONFIG_BLK_DEV_NVME=y

#OVERLAY FS
CONFIG_OVERLAY_FS=y

#QCOM PHYS
CONFIG_PHY_QCOM_QMP=y
CONFIG_PHY_QCOM_QMP_PCIE=y
CONFIG_PHY_QCOM_QMP_UFS=y
CONFIG_PHY_QCOM_QMP_USB=y
CONFIG_PHY_QCOM_QUSB2=y

#QCOM SOC
CONFIG_INTERCONNECT_QCOM_OSM_L3=y
CONFIG_QCOM_LMH=y

#REMOTEPROC
CONFIG_RPMSG_QCOM_GLINK_SMEM=y
CONFIG_QCOM_SYSMON=y
CONFIG_QCOM_Q6V5_MSS=y
CONFIG_RESET_QCOM_PDC=y

#UFS
CONFIG_SCSI_UFS_QCOM=y

#USB
CONFIG_USB_DWC3_QCOM=y

#WIFI
CONFIG_ATH10K=y
CONFIG_ATH10K_SNOC=y

#breaks
CONFIG_QCOM_ICC_BWMON=n

CONFIG_CFG80211=y
CONFIG_RFKILL=y
CONFIG_MAC80211=y
CONFIG_QRTR=y

#CONFIG_EXTRA_FIRMWARE="regulatory.db regulatory.db.p7s"
