#I2C
CONFIG_I2C_QCOM_GENI=y

#I2C DMA
CONFIG_QCOM_GPI_DMA=y

#I2C SENSORS
CONFIG_BMC150_ACCEL=y
CONFIG_BMC150_MAGN_I2C=y
CONFIG_BMG160=y
CONFIG_IIO_ST_LSM6DSX=y
CONFIG_RPR0521=y
CONFIG_SENSORS_INA2XX=y

#UFS
CONFIG_SCSI_UFS_QCOM=y

#QCOM PHYS
CONFIG_PHY_QCOM_QMP=y
CONFIG_PHY_QCOM_QMP_UFS=y

# TODO: Find out why this leads to device reboot, and reactivate.
CONFIG_QCOM_ICC_BWMON=n

# UNUSED
CONFIG_ARCH_ACTIONS=n
CONFIG_ARCH_AIROHA=n
CONFIG_ARCH_SUNXI=n
CONFIG_ARCH_ALPINE=n
CONFIG_ARCH_APPLE=n
CONFIG_ARCH_BCM=n
CONFIG_ARCH_BCM2835=n
CONFIG_ARCH_BCM_IPROC=n
CONFIG_ARCH_BCMBCA=n
CONFIG_ARCH_BRCMSTB=n
CONFIG_ARCH_BERLIN=n
CONFIG_ARCH_BITMAIN=n
CONFIG_ARCH_EXYNOS=n
CONFIG_ARCH_SPARX5=n
CONFIG_ARCH_K3=n
CONFIG_ARCH_LG1K=n
CONFIG_ARCH_HISI=n
CONFIG_ARCH_KEEMBAY=n
CONFIG_ARCH_MEDIATEK=n
CONFIG_ARCH_MESON=n
CONFIG_ARCH_MVEBU=n
CONFIG_ARCH_NXP=n
CONFIG_ARCH_LAYERSCAPE=n
CONFIG_ARCH_MXC=n
CONFIG_ARCH_S32=n
CONFIG_ARCH_MA35=n
CONFIG_ARCH_NPCM=n
CONFIG_ARCH_PENSANDO=n
CONFIG_ARCH_REALTEK=n
CONFIG_ARCH_RENESAS=n
CONFIG_ARCH_ROCKCHIP=n
CONFIG_ARCH_SEATTLE=n
CONFIG_ARCH_INTEL_SOCFPGA=n
CONFIG_ARCH_STM32=n
CONFIG_ARCH_SYNQUACER=n
CONFIG_ARCH_TEGRA=n
CONFIG_ARCH_TESLA_FSD=n
CONFIG_ARCH_SPRD=n
CONFIG_ARCH_THUNDER=n
CONFIG_ARCH_THUNDER2=n
CONFIG_ARCH_UNIPHIER=n
CONFIG_ARCH_VEXPRESS=n
CONFIG_ARCH_VISCONTI=n
CONFIG_ARCH_XGENE=n
CONFIG_ARCH_ZYNQMP=n
CONFIG_ATH11K=n
CONFIG_ATH12K=n
CONFIG_DRM_NOUVEAU=n
CONFIG_ETHERNET=n
CONFIG_IWLWIFI=n
CONFIG_MWIFIEX=n
CONFIG_WL18XX=n
CONFIG_WLCORE=n
